<div class="flex layout-dark min-h-screen">
  <div
    class="w-6/12 h-screen hidden md:block flex-shrink-0"
    style="max-width: 50%; background-image: url('assets/images/register.jpg'); background-repeat: no-repeat; background-size: cover"></div>

  <div class="w-full bg-[#09090b]">
    <p-fluid
      class="min-h-screen text-center w-full flex items-center md:items-start justify-center flex-col bg-auto md:bg-contain !bg-no-repeat p-fluid"
      style="padding: 10%">
      <div class="flex flex-col">
        <div class="flex items-center mb-8"><h3>Dungeon Finder</h3></div>

        <div class="form-container text-left" style="max-width: 320px; min-width: 270px">
          <span class="text-2xl font-semibold m-0 mb-4">Register</span>
          <span class="block text-surface-600 dark:text-surface-200 font-medium mb-6">Let's get started</span>
          <form [formGroup]="registerForm" (ngSubmit)="register()" class="p-fluid">
            <div class="field mb-4">
              <div class="flex items-center">
                <div class="flex-grow">
                  <label for="name" class="block text-sm font-medium text-surface-700 dark:text-surface-200">Name</label>
                  <input id="name" type="text" formControlName="name" pInputText class="w-full mt-2" placeholder="Enter your name" />
                </div>
              </div>
              <p-message
                *ngIf="registerForm.get('name')?.invalid && registerForm.get('name')?.touched"
                severity="error"
                text="Name is required"
                styleClass="mt-2"></p-message>
            </div>

            <div class="field mb-4">
              <div class="flex items-center">
                <div class="flex-grow">
                  <label for="email" class="block text-sm font-medium text-surface-700 dark:text-surface-200">Email</label>
                  <input id="email" type="email" formControlName="email" pInputText class="w-full mt-2" placeholder="Enter your email" />
                </div>
              </div>
              <p-message
                *ngIf="registerForm.get('email')?.invalid && registerForm.get('email')?.touched"
                severity="error"
                text="Email is required"
                styleClass="mt-2"></p-message>

              <p-message
                *ngIf="registerForm.get('email')?.hasError('email') && registerForm.get('email')?.touched"
                severity="error"
                text="Invalid email format"
                styleClass="mt-2"></p-message>
            </div>

            <div class="field mb-4">
              <div class="flex items-center">
                <div class="flex-grow">
                  <label for="password" class="block text-sm font-medium text-surface-700 dark:text-surface-200">Password</label>
                  <p-password
                    [toggleMask]="true"
                    id="password"
                    formControlName="password"
                    class="w-full mt-2"
                    placeholder="Enter your password"
                    autocomplete="off">
                    <ng-template #header>
                      <div class="font-semibold text-sm mb-2">Pick a password</div>
                    </ng-template>

                    <ng-template #footer>
                      <p-divider />
                      <ul class="pl-2 ml-2 my-0 leading-normal text-xs text-surface-700 dark:text-surface-200">
                        <li>At least one lowercase</li>

                        <li>At least one uppercase</li>

                        <li>At least one numeric</li>

                        <li>Minimum 8 characters</li>
                      </ul>
                    </ng-template>
                  </p-password>
                </div>
              </div>

              <p-message
                *ngIf="registerForm.get('password')?.invalid && registerForm.get('password')?.touched"
                severity="error"
                text="Password is required"
                styleClass="mt-2"></p-message>
            </div>

            <div class="field mb-4">
              <div class="flex items-center">
                <div class="flex-grow">
                  <label for="confirmPassword" class="block text-sm font-medium text-surface-700 dark:text-surface-200">Confirm Password</label>

                  <p-password
                    [feedback]="false"
                    [toggleMask]="true"
                    id="confirmPassword"
                    formControlName="confirmPassword"
                    class="w-full mt-2"
                    placeholder="Confirm your password"
                    autocomplete="off">
                  </p-password>
                </div>
              </div>

              <p-message
                *ngIf="registerForm.get('confirmPassword')?.invalid && registerForm.get('confirmPassword')?.touched"
                severity="error"
                text="Confirm Password is required"
                styleClass="mt-2"></p-message>
            </div>

            <div class="field mb-4">
              <div class="flex items-start">
                <p-checkbox formControlName="terms" inputId="terms" [binary]="true" />
                <label for="terms" class="ml-2 text-sm font-medium text-surface-700 dark:text-surface-200"
                  >I agree to the <a href="javascript:void(0)" (click)="showTermsAndConditions()" class="text-primary">terms and conditions</a></label
                >
              </div>
            </div>

            <div class="flex items-center justify-content-center">
              <p-button pRipple type="submit" class="w-full mb-2" size="large" label="Register" [disabled]="registerForm.invalid" [loading]="loading"></p-button>
            </div>
          </form>
        </div>

        <div class="mt-6 text-left" style="max-width: 320px; min-width: 270px">
          <span> Already have an account? <a [routerLink]="'/signin'">Login</a> </span>
        </div>
      </div>

      <div class="flex items-center mt-6">
        <div class="flex items-center pr-6 mr-6 border-r border-surface-200 dark:border-surface-700">Dungeon Finder</div>
        <span class="text-sm text-surface-500 dark:text-surface-400 mr-4">Copyright 2025</span>
      </div>
    </p-fluid>
  </div>
</div>

<p-toast></p-toast>

<p-dialog
  header="Terms and Conditions"
  [(visible)]="termsAndConditionsVisible"
  [modal]="true"
  [style]="{ width: '50vw' }"
  [breakpoints]="{ '960px': '75vw', '640px': '90vw' }">
  Blablabla, preciso verificar isso.
  <ng-template pTemplate="footer"> <p-button label="Close" (click)="termsAndConditionsVisible = false"></p-button> </ng-template>
</p-dialog>
