<app-loading *ngIf="loading"></app-loading>

<div class="flex layout-dark min-h-screen">
  <div
    class="w-6/12 h-screen hidden md:block flex-shrink-0"
    style="max-width: 50%; background-image: url('assets/images/login.jpg'); background-repeat: no-repeat; background-size: cover">
  </div>

  <div class="w-full bg-[#09090b]">
    <p-fluid class="min-h-screen text-center w-full flex items-center justify-center flex-col p-fluid" style="padding: 10%">
      <div class="flex flex-col">
        <div class="flex items-center mb-8">
          <h3>Dungeon Finder</h3>
        </div>

        <div class="form-container text-left" style="max-width: 320px; min-width: 270px">
          <span class="text-2xl font-semibold mb-4 block">Login</span>
          <form [formGroup]="loginForm" (ngSubmit)="login()" class="p-fluid">
            <div class="field mb-4">
              <label for="email" class="block text-sm font-medium text-surface-200">Email</label>
              <input id="email" type="email" formControlName="email" pInputText class="w-full mt-2" placeholder="Enter your email" />
            </div>

            <div class="field mb-4">
              <label for="password" class="block text-sm font-medium text-surface-200">Password</label>
              <p-password
                [feedback]="false"
                [toggleMask]="true"
                id="password"
                formControlName="password"
                class="w-full mt-2"
                placeholder="Enter your password"
                autocomplete="off">
              </p-password>
            </div>

            <div class="flex items-center justify-content-center">
              <p-button
                pRipple
                type="submit"
                class="w-full mb-2"
                size="large"
                label="Login"
                [disabled]="loginForm.invalid"
                [loading]="loading"></p-button>
            </div>
          </form>

          <div class="mt-6 text-left">
            <span> Don't have an account? <a [routerLink]="'/signup'">Register</a> </span>
          </div>
        </div>
      </div>
    </p-fluid>
  </div>
</div>

<p-toast></p-toast>
