<app-loading *ngIf="loading"></app-loading>

<div class="flex layout-dark min-h-screen">
  <!-- Imagem de fundo no lado esquerdo -->
  <div
    class="w-full md:w-6/12 h-screen hidden md:block flex-shrink-0"
    style="max-width: 50%; background-image: url('assets/images/register.jpg'); background-repeat: no-repeat; background-size: cover"></div>

  <div class="w-full bg-[#09090b] flex items-center justify-center">
    <p-fluid
      class="min-h-screen text-center w-full flex items-center justify-center flex-col bg-auto md:bg-contain !bg-no-repeat p-fluid"
      style="padding: 10%">
      <div class="flex flex-col w-full max-w-md space-y-8">
        <!-- Cabeçalho -->
        <div class="flex items-center mb-8 justify-center md:justify-start">
          <h3 class="text-3xl text-white font-semibold">Dungeon Finder</h3>
        </div>

        <!-- Formulário de Registro -->
        <div class="form-container text-left w-full">
          <span class="text-2xl font-semibold m-0 mb-4 text-white">Sign-in</span>
          <span class="block text-surface-600 dark:text-surface-200 font-medium mb-6">Back to the journey!</span>
          <form [formGroup]="loginForm" (ngSubmit)="onSubmit()" class="space-y-6">
            <div class="field mb-4">
              <label for="email" class="block text-sm font-medium text-surface-200">Email</label>
              <input id="email" type="email" formControlName="email" pInputText class="w-full mt-2" placeholder="Enter your email" />
            </div>

            <div class="field mb-4">
              <label for="password" class="block text-sm font-medium text-surface-200">Password</label>
              <p-password
                [feedback]="false"
                [toggleMask]="true"
                id="password"
                formControlName="password"
                class="w-full mt-2"
                placeholder="Enter your password"
                autocomplete="off">
              </p-password>
            </div>

            <div class="flex items-center justify-content-center">
              <p-button
                pRipple
                type="onSubmit"
                class="w-full mb-2"
                size="large"
                label="Login"
                (click)="onSubmit()"
                [disabled]="loginForm.invalid"
                [loading]="loading"></p-button>
            </div>
          </form>

          <div class="mt-6 text-left">
            <span> Don't have an account? <a [routerLink]="'/signup'" class="text-primary">Register</a> </span>
          </div>
        </div>
        <!-- Rodapé -->
        <div class="mt-6 text-left">
          <div class="dark:border-surface-700">Dungeon Finder</div>
          <span class="text-sm text-surface-500 dark:text-surface-400 mr-4">Copyright 2025</span>
        </div>
      </div>
    </p-fluid>
  </div>
</div>

<p-toast></p-toast>
