<section class="featured-tables py-6">
  <div class="container mx-auto px-4">
    <h2 class="text-2xl font-bold mb-2">Mesas em Destaque</h2>
    <p class="text-gray-400 mb-4">
      Conheça algumas das nossas mesas mais populares e bem avaliadas.
    </p>

    <app-spinner *ngIf="loading()" />

    <div *ngIf="!loading() && featuredTables.length > 0">
      <!-- Carrossel -->
      <p-carousel
        [value]="featuredTables"
        [numVisible]="3"
        [numScroll]="2"
        [circular]="true"
        [showNavigators]="true"
        [autoplayInterval]="4000"
        [responsiveOptions]="responsiveOptions"
      >
        <ng-template let-table pTemplate="item">
          <div
            class="min-h-[360px] flex flex-col justify-between border dark:border-surface-700 rounded shadow-md m-2 p-3 bg-white dark:bg-gray-800"
          >
            <div>
              <div class="relative mx-auto">
                <img
                  [src]="table.image || '/assets/images/default-table.png'"
                  [alt]="table.title"
                  class="w-full h-40 object-cover rounded"
                />
                <p-tag
                  [value]="table.status"
                  class="absolute top-2 left-2 dark:!bg-surface-900"
                />
              </div>

              <div
                class="mt-2 font-bold text-lg text-gray-800 dark:text-gray-100"
              >
                {{ table.title }}
              </div>

              <div class="text-sm text-gray-500 dark:text-gray-400 mb-1">
                <p-tag>{{ table.system.replace('_', ' ') }}</p-tag>
              </div>
            </div>
            <hr />
            <div class="text-xs text-gray-400 mt-2">
              <p>
                Mestre:
                <span class="font-semibold">{{ table.createdBy?.name }}</span>
              </p>
              <p>
                Jogadores: {{ table.players?.length }}/{{ table.maxPlayers }}
              </p>
              <p>Data: {{ table.time | date: 'shortDate' }}</p>
              <p>Duração: {{ table.duration || 'Variável' }}</p>
              <p>Nível: {{ table.level || 'Qualquer' }}</p>
            </div>
          </div>
        </ng-template>
      </p-carousel>
    </div>
  </div>
</section>
