<app-loading *ngIf="loading"></app-loading>
<div class="max-w-3xl mx-auto p-6 rounded-2xl shadow-lg mt-6">
  <h2 class="text-3xl font-bold mb-6 text-center">Criar Nova Mesa</h2>
  <h6 class="font-bold mb-6 text-center">Isso é provisório, só para testar.</h6>
  <hr />
  <form [formGroup]="tableForm" (ngSubmit)="onSubmit()" class="grid gap-4">
    <div>
      <label class="block text-sm font-medium">Título</label>
      <input pInputText formControlName="title" class="w-full mt-1" />
    </div>

    <p-iftalabel>
      <textarea pTextarea id="description" formControlName="description" rows="5" cols="30" style="resize: none"></textarea>
      <label for="description">Description</label>
    </p-iftalabel>

    <div>
      <label class="block font-medium mb-1">Imagem</label>
      <p-fileUpload name="image" [auto]="true" accept="image/*" maxFileSize="1000000" customUpload="true" (uploadHandler)="onImageSelected($event)">
        <ng-template #empty>
          <div>Arraste a imagem aqui ou clique para selecionar.</div>
        </ng-template>
      </p-fileUpload>
      <p-image *ngIf="tableForm.value.image" [src]="tableForm.value.image"></p-image>
    </div>

    <div>
      <label class="block text-sm font-medium">Sistema</label>
      <p-dropdown formControlName="system" [options]="rpgSystems" optionLabel="label" optionValue="value" placeholder="Select RPG System" />
    </div>

    <div>
      <label class="block text-sm font-medium">Máximo de Jogadores</label>
      <input type="number" pInputText formControlName="maxPlayers" class="w-full mt-1" />
    </div>

    <div>
      <label class="block text-sm font-medium">Data e Hora</label>
      <input type="datetime-local" pInputText formControlName="time" class="w-full mt-1" />
    </div>

    <div>
      <label class="block text-sm font-medium">Duração</label>
      <p-select
        [options]="durations"
        optionLabel="label"
        optionValue="value"
        formControlName="duration"
        class="w-full mt-1"
        optionLabel="label"></p-select>
    </div>

    <p-button
      type="submit"
      (click)="onSubmit()"
      [label]="loading ? 'Criando...' : 'Criar Mesa'"
      [disabled]="tableForm.invalid || loading"
      class="mt-4 w-full"></p-button>
  </form>
</div>
<p-toast></p-toast>
