<p-panel class="flex flex-col items-center text-center">
  <ng-template pTemplate="content">
    <div class="page flex flex-col items-center text-center">
      <div class="mb-3 text-sm text-gray-600">
        Já é cadastrado?
        <a class="register text-blue-500 hover:underline" [routerLink]="['/signin']">Acesse já</a>!
      </div>

      <img src="./assets/images/logo.svg" alt="Logo" class="mb-4 mt-4" />

      <h1 class="mb-2 mt-3 text-center text-xl font-bold text-gray-800">Área exclusiva para assinantes!</h1>

      <small class="text-sm text-gray-600">
        Esta área é exclusiva para usuários registrados. Crie a sua conta agora mesmo e receba gratuitamente R$ 20,00 de crédito para começar a
        utilizar os nossos serviços.
      </small>

      <p-button label="Cadastrar agora" class="mt-6 mb-4" icon="pi pi-user-plus" [routerLink]="['/signup']"> </p-button>

      <div class="m-3">
        <a class="register text-blue-500 hover:underline" [routerLink]="['/account/plans']">Conheça os nossos planos</a>
      </div>
    </div>
  </ng-template>
</p-panel>
